<!DOCTYPE html>
<html>
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <!-- Importando o css -->
  <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"charset="utf-8"/>
</head>

<body>

  <div class="container">
    <%if(validacao.length > 0) {%>
        <div class="alert alert-danger">
          <strong>Alentção</strong>
          <ul>
            <% for(var i = 0; i < validacao.length; i++){%>
                  <li><%= validacao[i].msg %></li>
            <%}%>
          </ul>
        </div>
    <%}%>
    <form class="col s12" action="/cadastrar" method="post">
      <div class="row">
        <div class="input-field col s6">
          <input id="nome" name="nome" type="text" class="validate">
          <label for="nome">Nome</label>
        </div>
        <div class="input-field col s6">
          <input id="login" name="login" type="text" class="validate">
          <label for="login">Login</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="senha" name="senha" type="password" class="validate">
          <label for="senha">Senha</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" name="email" type="email" class="validate">
          <label for="email">E-mail</label>
        </div>
      </div>
      <button class="btn waves-effect black-text white " id="btn-cadastrar" type="submit">Cadastrar</button>
    </div>



  </form>



  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</body>
</html>
