<!DOCTYPE html>
 <html>
   <head>
     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
     <!-- Importando o css -->
     <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
     <!--Let browser know website is optimized for mobile-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0"charset="utf-8"/>
   </head>

   <body>
     <div class="container">

       <%if(validacao.length > 0) {%>
           <div class="alert alert-danger">
             <strong>Alentção</strong>
             <ul>
               <% for(var i = 0; i < validacao.length; i++){%>
                     <li><%= validacao[i].msg %></li>
               <%}%>
             </ul>
           </div>
       <%}%>
      <form class="col m4 l4" action="/auth" method="post">
       <div class="input-field">
         <input  id="login" name="login" type="text" class="validate">
         <label for="login">Login</label>
       </div>
       <div class="input-field ">
         <input id="senha" name="senha" type="password" class="validate">
         <label for="senha">Senha</label>
       </div>

        <button class="btn waves-effect waves-light black-text white col s12" id="btn-entrar" type="submit">Entrar</button>
       </form>
     </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

   </body>
 </html>
